body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttonoval {border-radius: 20px;}

.mycardheader {
  background-color:#fff;
  border-bottom: 0px !important;
}

.mycard{
  border:0px !important;
}

.mycardbody{
  padding:0px;
}

.borderless-list-group-item {
  border:0px !important;
}

.resumebutton{
  font-size: 11px !important;
  color:'black' !important; 
  border-radius: 20px; 
}
